<div class="page-header">
    <div class="pull-right">
        <button class="btn btn-default"
                id="{{id}}-back"><i class="fa fa-arrow-circle-left"></i> {{$ goBack}}</button>
    </div>
    {{#if selectTechnician}}
        <h3>{{$ selectTechnician}}</h3>
    {{/if}}
    
    {{#if selectServices}}
        <h3>{{$ selectServices}}</h3>
    {{/if}}        
    
    {{#if editView}}
        <h3>{{$ ticket}} T{{ticket.id}}</h3>
    {{/if}}
</div>

{{#if selectTechnician}}
    <div id="{{id}}-select-technician" class="select-technician">
    </div>
{{/if}}

{{#if selectServices}}
    <div id="{{id}}-select-services" class="select-services">
    </div>
{{/if}}

{{#if editView}}
    <div id="{{id}}-edit-view" class="edit-view">
    </div>
{{/if}}
