
    
{{#each items}}
    <button type="button" id="{{../id}}-ticket-{{this.id}}" data-id="{{this.id}}" data-technician-id="{{this.technicianId}}" class="btn btn-list-item btn-lg {{../id}}-btn-ticket btn-default btn-block clearfix {{#if this.billId}}btn-success{{/if}}">
        <small class="pull-right right">{{formatMoney this.amount}}</small>
        #{{this.id}} - {{this.technician.name}}</button>
{{else}}
    <p class="alert">{{$ thereIsNoPendingTicketsToCheckOut}}</p>
{{/each}}

<div class="page-footer">
{{#if items.length}}
    <button class="btn btn-primary btn-lg btn-block" id="{{id}}-next"><i class="fa fa-check-circle"></i> {{$ ok}}
    </button>
{{/if}}
    <a href="#ticket/view" class="btn btn-success btn-block"><i class="fa fa-plus"></i> {{$ newTicket}}</a>
</div>