<span class="hide {{id}}-i18n" data-key="phoneNumberIsInvalid">{{$ phoneNumberIsInvalid}}</span>
<span class="hide {{id}}-i18n" data-key="phoneNumberCantBeEmpty">{{$ phoneNumberCantBeEmpty}}</span>
<span class="hide {{id}}-i18n" data-key="phoneNumberExists">{{$ phoneNumberExists}}</span>
<span class="hide {{id}}-i18n" data-key="checkingForAvailability">{{$ checkingForAvailability}}</span>
<span class="hide {{id}}-i18n" data-key="pinMustBe4Digits">{{$ pinMustBe4Digits}}</span>
<span class="hide {{id}}-i18n" data-key="pinCantBeEmpty">{{$ pinCantBeEmpty}}</span>
<span class="hide {{id}}-i18n" data-key="pinMustBeTheSame">{{$ pinMustBeTheSame}}</span>
<span class="hide {{id}}-i18n" data-key="registrationCompletedSuccessfully">{{$ registrationCompletedSuccessfully}}</span>
<span class="hide {{id}}-i18n" data-key="nameCantBeEmpty">{{$ nameCantBeEmpty}}</span>

<div class="page-header">
    <div class="pull-right">
        <button class="btn btn-default" id="{{id}}-back"><i class="fa fa-arrow-circle-left"></i> {{$ goBack}}</button>
    </div>
    <h3>{{$ register}}</h3>
</div>
<form id="{{id}}-form">
    <div class="form-group">
        <input type="tel" class="form-control input-lg {{id}}-field" id="{{id}}-name" placeholder="{{$ enterYourName}}" name="name"/>
    </div>
    
    <div class="form-group">
        <input type="tel" class="form-control input-lg {{id}}-field" id="{{id}}-phone" placeholder="{{$ enterYourPhoneNumber}}" name="phone"/>
        <p class="help-block hidden" id="availability-msg"></p>
    </div>
    
    <div class="form-group clearfix pin-container">
        <input type="tel" id="{{id}}-pin" maxlength="4" class="form-control input-lg {{id}}-pin pin" name="pin"
        placeholder="{{$ enterYourPIN}}" />
        <div for="{{id}}-pin" class="pin-mask" id="{{id}}-pin-mask"></div>
    </div>
    
    <div class="form-group clearfix pin-container">
        <input type="tel" id="{{id}}-pin-confirm" maxlength="4" class="form-control input-lg {{id}}-pin pin" name="pin2"
        placeholder="{{$ enterYourPINAgain}}" />
        <div for="{{id}}-pin" class="pin-mask" id="{{id}}-pin-confirm-mask"></div>
    </div>

    <div class="page-footer">
        <button class="btn btn-primary btn-lg btn-block" id="{{id}}-save"><i class="fa fa-check"></i> {{$ register}}</button>
    </div>
</form>