<div class="panel panel-default">
    <div class="panel-heading">
        <h4>At-a-glance</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label label-info pull-right">{{formatMoney stat.gross}}</span>Gross Income</li>
            <li class="list-group-item">
                <span class="label label-success pull-right">{{formatMoney stat.net}}</span>Net Income</li>
            <li class="list-group-item">
                <span class="label label-info pull-right">{{formatMoney stat.tipGross}}</span>Gross Tip</li>
            <li class="list-group-item">
                <span class="label label-success pull-right">{{formatMoney stat.tipNet}}</span>Net Tip</li>
            <li class="list-group-item">
                <span class="label label-default pull-right">{{formatNumber stat.nbOfTickets}}</span>Number of Tickets</li>
            <li class="list-group-item">
                <span class="label label-default pull-right">{{formatNumber stat.turns}}</span>Number of Turns</li>
        </ul>
    </div>
</div>