<div class="page-header">
    <div class="pull-right">
        <a href="#index/sign-out"
           class="btn btn-warning"><i class="fa fa-sign-out"></i> {{$ signOut}}</a>
    </div>
    <h3>{{$ selectAStore}}</h3>
</div>
{{#each stores}}

{{else}}
<div id="{{id}}-form">
    <div class="form-group">
        <input type="tel" class="form-control input-lg {{id}}-field" id="{{id}}-name" placeholder="{{$ enterYourName}}" name="name"/>
    </div>
    
    <div class="form-group">
        <input type="tel" class="form-control input-lg {{id}}-field" id="{{id}}-phone" placeholder="{{$ enterYourPhoneNumber}}" name="phone"/>
        <p class="help-block hidden" id="availability-msg"></p>
    </div>
    
    <div class="form-group clearfix pin-container">
        <input type="tel" id="{{id}}-pin" maxlength="4" class="form-control input-lg {{id}}-pin pin" name="pin"
        placeholder="{{$ enterYourPIN}}" />
        <div for="{{id}}-pin" class="pin-mask" id="{{id}}-pin-mask"></div>
    </div>
    
    <div class="form-group clearfix pin-container">
        <input type="tel" id="{{id}}-pin-confirm" maxlength="4" class="form-control input-lg {{id}}-pin pin" name="pin2"
        placeholder="{{$ enterYourPINAgain}}" />
        <div for="{{id}}-pin" class="pin-mask" id="{{id}}-pin-confirm-mask"></div>
    </div>

    <div class="page-footer">
        <button class="btn btn-primary btn-lg btn-block" id="{{id}}-save"><i class="fa fa-check"></i> {{$ register}}</button>
    </div>
</div>
{{/each}}