<span class="hide {{id}}-i18n" data-key="serviceCategoryHasBeenSavedSuccessfully">{{$ serviceCategoryHasBeenSavedSuccessfully}}</span>
<span class="hide {{id}}-i18n" data-key="serviceCategorySaveFailed">{{$ serviceCategorySaveFailed}}</span>
<span class="hide {{id}}-i18n" data-key="serviceCategoryHasBeenDeletedSuccessfully">{{$ serviceCategoryHasBeenDeletedSuccessfully}}</span>
<span class="hide {{id}}-i18n" data-key="serviceCategoryDeleteFailed">{{$ serviceCategoryDeleteFailed}}</span>

<div class="page-header">
    <div class="pull-right">
        <button class="btn btn-default" id="{{id}}-back"><i class="fa fa-arrow-circle-left"></i> {{$ goBack}}</button>
    </div>
    <h3>{{#if category.id}}{{$ editServiceCategory}}{{else}}{{$ newServiceCategory}}{{/if}}</h3>
</div>


<div class="form-group">
    <label class="control-label" for="{{id}}-name">{{$ name}}
    </label>
    <input type="text" class="form-control input-lg {{id}}-field" id="{{id}}-name"
           value="{{category.name}}"/>
</div>


<div class="page-footer">
    <button type="button" id="{{id}}-save" class="btn btn-primary btn-lg btn-block"><i class="fa fa-save"></i> {{$ save}}</button>
    {{#if category.id}}
    <button type="button" id="{{id}}-delete" class="btn btn-warning btn-block"><i class="fa fa-trash-o"></i> <span
            class="bcb-label">{{$ delete}}</span></button>
    {{/if}}
</div>