{{#each items}}
    <a href="#{{this.url}}" data-id="{{this.id}}" class="list-group-item clearfix feed {{#unless this.isRead}}list-group-item-info{{/unless}}">
        <div class="pull-right">
            <small class="text-muted date">{{fromNow this.dateCreated}}</small>
        </div>
        <span class="title">{{{this.title}}}</span>
        {{#if this.description}}
            <span class="text-muted description">{{{this.description}}}</span>
        {{/if}}
    </a>
{{/each}}
