{{#if hasCrumbs}}
    <ol id="breadcrumb" class="breadcrumb">
        {{#each crumbs}}
            {{#if this.activeClass}}
                <li class="{{this.activeClass}}">{{this.name}}</li>
            {{else}}
                <li><a href="{{this.hash}}">{{this.name}}</a></li>
            {{/if}}
        {{/each}}
    </ol>
{{/if}}