<div id="{{id}}-nav" class="nav-container"></div>
<!--<div id="{{id}}-breadcrumb" class="breadcrumb-container"></div>-->
<div class="container-fluid">
    <div class="controller">
        <div class="action">
            <div id="{{id}}-main-panel" class="main-container">
            </div>
        </div>
    </div>
</div>
<div id="{{id}}-footer"><div class="text-center copyright">{{name}} <small>v{{version}}</small></div></div>