<div id="{{id}}-nav"
     class="navbar navbar-inverse navbar-fixed-top"
     role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="{{id}}-refresh" type="button"
                    class="navbar-toggle">
                <a href="#"><i class="fa fa-refresh" id="{{id}}-refresh-icon"></i></a>
            </button>
            <button id="{{id}}-feeds hide" type="button"
                    class="navbar-toggle hide">
                <a href="#feed/index"><i class="fa fa-bell" id="{{id}}-feed-icon"></i> <span class="badge hide" id="{{id}}-feed-count">42</span></a>
            </button>
            <button id="{{id}}-todos hide" type="button"
                    class="navbar-toggle hide">
                <a href="#todo/index"><i class="fa fa-tasks" id="{{id}}-todo-icon"></i> <span class="badge hide" id="{{id}}-todo-count">5</span></a>
            </button>
            
            <a id="{{id}}-brand"
               class="navbar-brand"
               href="#"><i class="fa fa-home"></i> {{storeName}}</a>
        </div>
    </div>
</div>