{{#each users}}
    <button data-id="{{this.id}}" class="btn btn-lg btn-default btn-list-item {{#if this.selected}}btn-warning{{/if}} btn-block clearfix {{../id}}-technician">
        <div class="pull-right indicators">{{#if this.isMinIncomeUser}} <i class="fa fa-money"></i>{{/if}} {{#if this.isMinTurnsUser}} <i class="fa fa-refresh"></i>{{/if}}</div>
        <i class="fa fa-user"></i> {{this.name}}
        {{#if ../isOwner}}
        <div class="row stat">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 turns">{{formatNumber this.turns}}</div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 income">{{formatMoney this.income}}</div>
        </div>
        {{/if}}
    </button>
{{/each}}