
    {{#each categories}}
        <div class="panel panel-default">
            <div class="panel-heading category-heading {{../id}}-category-heading" data-id="{{this.id}}">
                <h4>{{this.name}} <small>({{ this.products.length }})</small></h4>
            </div>
            <div class="panel-body {{#unless this.selected}}hide{{/unless}}" id="{{../id}}-category-body-{{this.id}}">
                {{#each this.products}}
                    <button type="button" id="{{../../id}}-product-{{this.id}}" data-id="{{this.id}}" class="btn btn-list-item btn-lg {{../../id}}-btn-product btn-default btn-block clearfix {{#if this.selected}}btn-success{{/if}}">
                        <small class="pull-right right">{{formatMoney this.price}}</small>
                        <i class="fa fa-tag"></i> {{this.name}}</button>
                {{/each}}
            </div>
        </div>
    {{/each}}


<div class="page-footer">
    <button class="btn btn-primary btn-lg btn-block" id="{{id}}-next"><i class="fa fa-check-circle"></i> {{$ ok}}
    </button>
</div>